
body {font-family:Serif,Verdana, sans-serif;
      background-color: #00005D;
}
#wrapper { background-color: #b3c7e6; 
           color: #000066;
           width: 80%;
	     margin: auto;
           min-width:850px;
} 
#leftcolumn { float: left;
	          width: 150px;
} 
#rightcolumn { margin-left: 155px;
               background-color: #ffffff;
               color: #000000;
} 
#header{ background-color: #869dc7;
        color: #00005D; 
        font-size: 150%; 
        padding: 10px 10px 10px 350px;

}
h2 { color: #869dc7; 
     font-family: arial, sans-serif;
}
.content {padding: 20px 20px 0 20px; 
} 
#floatright { margin: 10px;
             float: right;
}

#footer {font-size:70%;
         text-align: center;
		 clear: right;
         padding-bottom:20px;
}	
#leftcolumn ul { 
      list-style-type: none;
      padding: 0;
      margin: 0;
}
#leftcolumn a {
      text-decoration: none;
       padding: 20px;
       display: block;
       background-color: #b3c7e6;
       border-bottom: 1px solid #ffffff;
       font-size: 130%;
       text-align: center;
       
}
#leftcolumn a:link{color:#00005D;}
#leftcolumn a:hover{
          color:#000000;
          background-color: #000066;
          }

